/* ============================================================================================= */
/* ************************************** GENERAL STYLES *************************************** */
/* ============================================================================================= */

:root {
  font-size: 12px;
  --primary-font-color: #000;
  --secondary-font-color: #fff;
  --primary-background-color: #fff7ed;
  --primary-btn-background-color: #ff8c38;
  --nav-links-color: #4d4d4d;
  --van-type-background-color-simple: #e17654;
  --van-type-background-color-rugged: #115e59;
  --van-type-background-color-luxury: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--primary-background-color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  border: none;
  border-radius: 0.3em;
}

@media (min-width: 576px) {
  :root {
    font-size: 16px;
  }
}

.outlet-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* ============================================================================================= */
/* *************************************** MAIN NAVBAR ***************************************** */
/* ============================================================================================= */

nav {
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25em 1.625em;
}

a {
  text-decoration: none;
}

.nav-title a h2 {
  color: var(--primary-font-color);
  font-size: 1.5rem;
  font-weight: 900;
}

.nav-links a {
  color: var(--nav-links-color);
  font-size: 1rem;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a:active {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
  color: var(--primary-font-color);
}

.nav-links a:not(:last-of-type) {
  margin-right: 0.75em;
}

/* ============================================================================================= */
/* ***************************************** FOOTER ******************************************** */
/* ============================================================================================= */

footer {
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #252525;
  color: #aaa;
}

footer h5 {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.035em;
}

/* ============================================================================================= */
/* ************************************** ACTIVE LINKS ***************************************** */
/* ============================================================================================= */
.nav-links .active-link {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: var(--primary-font-color);
}

.not-found {
  padding: 1.625em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.not-found h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2em;
}

.not-found a {
  font-size: 1.125rem;
  border-radius: 0.3em;
  text-align: center;
  font-weight: 500;
  padding: 1em;
  background-color: var(--van-type-background-color-luxury);
  color: var(--secondary-font-color);
  letter-spacing: 0.5px;
}
