/* ============================================================================================= */
/* ***************************************** VANS PAGE ***************************************** */
/* ============================================================================================= */

.vans-page {
  background-color: var(--primary-background-color);
  padding: 3.375em 1.625em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.vans-page h2 {
  font-size: 2rem;
}

.vans-options-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
  justify-items: center;
  gap: 2rem;
  flex-grow: 1;
}
