/* ============================================================================================= */
/* ****************************** DASHBOARD VAN DETAILS GENERAL********************************* */
/* ============================================================================================= */
.dashboard-van-details {
  padding: 1.75em 1.58em;
}

.dashboard-van-details a {
  font-size: 1rem;
  margin-bottom: 2.5em;
  color: var(--primary-font-color);
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.dashboard-van-details .back-icon {
  margin-right: 0.5em;
}

.dashboard-details-container {
  background-color: var(--secondary-font-color);
  padding: 1.6em;
}

/* ============================================================================================= */
/* ************************************* DETAILS NAVBAR **************************************** */
/* ============================================================================================= */

.details-nav {
  display: flex;
}

.details-nav a {
  font-size: 1.125rem;
  margin-bottom: 0;
  color: var(--nav-links-color);
  font-weight: 500;
  text-decoration: none;
}

.details-nav a:not(:first-of-type) {
  margin-left: 1.6em;
}

/*  */
.details-nav a:hover,
.details-nav a:focus,
.details-nav a:active {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
  color: var(--primary-font-color);
}

.details-nav .active-link {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: var(--primary-font-color);
}
