.dashboard-vans h2 {
  font-size: 2rem;
  margin-bottom: 1em;
}

.dashboard-vans {
  padding: 3.4em 1.58em;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.vans-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
