/* ============================================================================================= */
/* ************************************* HOST GENERAL ************************************** */
/* ============================================================================================= */
.host-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.host-general-income {
  padding: 2.25em 1.625em;
  background-color: #ffead0;
}

.host-general-income h2 {
  font-size: 2.25rem;
  padding-bottom: 0.9em;
}

.host-general-income p {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: var(--nav-links-color);
  padding-bottom: 2em;
}

.host-general-income p span {
  text-decoration: underline;
  margin-left: 0.25em;
  text-underline-offset: 0.3em;
  font-weight: 700;
}

.host-general-income p a {
  margin-left: auto;
}

.host-general a {
  font-size: 1rem;
  color: var(--nav-links-color);
  font-weight: 600;
}

.host-general a:hover,
.host-general a:focus,
.host-general a:active {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
  color: var(--primary-font-color);
}

.host-general-income h3 {
  font-size: 3rem;
  font-weight: 800;
}

.host-general-reviews {
  padding: 2.8em 1.625em;
  background-color: #ffddb2;
}

.host-general-reviews p {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.star-icon {
  margin: 0 0.2em 0 0.6em;
  color: #ff8c38;
  font-size: 1.5rem;
}

.host-general-score {
  letter-spacing: 0.025em;
}

.host-general-score span {
  font-weight: 500;
  color: var(--nav-links-color);
}

.host-general-reviews a {
  margin-left: auto;
}

.host-general-listings {
  padding: 2.375em 1.625em;
}

.host-general-listings p {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
}

.host-general-listings a {
  margin-left: auto;
}

/* ============================================================================================= */
/* **************************************** HOST NAVBAR **************************************** */
/* ============================================================================================= */

.host-navbar {
  font-size: 1.125rem;
  padding: 1.75em 1.4em;
}

.host-navbar a:not(:first-of-type) {
  margin-left: 1.6em;
}

.host-navbar a {
  color: var(--nav-links-color);
  font-weight: 500;
}

.host-navbar a:hover,
.host-navbar a:focus,
.host-navbar a:active {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
  color: var(--primary-font-color);
}

.host-navbar .active-link {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  color: var(--primary-font-color);
}
