footer {
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #252525;
  color: #aaa;
}

footer h5 {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.035em;
}
