:root {
  font-size: 1rem;
  --primary-font-color: #000;
  --secondary-font-color: #fff;
  --primary-background-color: #fff7ed;
  --primary-btn-background-color: #ff8c38;
  --van-type-background-color-simple: #e17654;
  --van-type-background-color-rugged: #115e59;
  --van-type-background-color-luxury: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--primary-background-color);
}

.btn {
  border: none;
  border-radius: 0.3em;
}
